<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          class=".bg-light"
          src="https://seeklogo.com/images/F/flipkart-logo-5CE68C24AF-seeklogo.com.png"
          alt=""
          width="50"
          height="25"
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav">
      <input
        class="form-control me-2"
        [(ngModel)]="see"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active .bg-primary" aria-current="page" href="#"
            >Home</a
          >
        </li> -->

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item text-dark" routerLink="login"
                ><b class="bi bi-person-circle">UserLogin</b></a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-dark"
                (click)="navigateToRegistrationForm()"
                >New User</a
              >
            </li>
            <li>
              <a class="dropdown-item text-dark" (click)="navigateToOrders()"
                >Your Orders</a
              >
            </li>
            <li>
              <a class="dropdown-item text-dark" (click)="navigateToLoginPage()"
                >LogOut</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="nav">
      <h4 class="bi bi-cart-fill" (click)="navigateToCart()"></h4>
    </div>
  </div>
</nav>
<div class="card w-100 h-100">
  <div class="d-flex align-items-center justify-content-around">
    <div (click)="viewMobiles()">
      <img
        src="https://rukminim2.flixcart.com/flap/64/64/image/22fddf3c7da4c4f4.png?q=100"
        alt=""
      />
      <h5>Mobiles</h5>
    </div>
    <div (click)="viewComputer()">
      <img
        src="https://rukminim2.flixcart.com/flap/64/64/image/69c6589653afdb9a.png?q=100"
        alt=""
      />
      <h5>Electronics</h5>
    </div>
    <div (click)="viewFurniture()">
      <img
        src="https://rukminim2.flixcart.com/flap/64/64/image/ab7e2b022a4587dd.jpg?q=100"
        alt=""
      />
      <h5>Furniture</h5>
    </div>
    <div (click)="viewMen()">
      <img
        src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/0d75b34f7d8fbcb3.png?q=100"
        alt=""
      />
      <h5>Fashion</h5>
    </div>
    <div (click)="viewWatches()">
      <img
        width="40px"
        height="50px"
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/smartwatch/y/a/o/-original-imagvpakxrhuxywz.jpeg?q=70"
        alt=""
      />
      <h5>Watches</h5>
    </div>
  </div>
</div>

<!-- <div class="images">
  <h2>Acs</h2>
  <div class="image-container">
    <img src="assets/Ac/2.jpg" />
    <img src="assets/Ac/3.jpg" />
    <img src="assets/Ac/4.jpg" />
    <img src="assets/Ac/5.jpg" />
    <img src="assets/Ac/6.jpg" />
    <img src="assets/Ac/7.jpg" />
  </div>
</div>

<div class="images">
  <h2>Books</h2>
  <div class="image-container">
    <img src="assets/Books/2.jpg" />
    <img src="assets/Books/3.jpg" />
    <img src="assets/Books/4.jpg" />
    <img src="assets/Books/5.jpg" />
    <img src="assets/Books/6.jpg" />
    <img src="assets/Books/7.jpg" />
  </div>
</div>

<div class="images">
  <h2>Computers</h2>
  <div class="image-container">
    <img src="assets/Computers/2.jpg" />
    <img src="assets/Computers/3.jpg" />
    <img src="assets/Computers/4.jpg" />
    <img src="assets/Computers/5.jpg" />
    <img src="assets/Computers/6.jpg" />
    <img src="assets/Computers/7.jpg" />
  </div>
</div>

<div class="images">
  <h2>Fridges</h2>
  <div class="image-container">
    <img src="assets/fridge/2.jpg" />
    <img src="assets/fridge/3.jpg" />
    <img src="assets/fridge/4.jpg" />
    <img src="assets/fridge/5.jpg" />
    <img src="assets/fridge/6.jpg" />
    <img src="assets/fridge/7.jpg" />
  </div>
</div>

<div *ngFor="let item of acInfo">
  <P>{{ item.id }}</P>
  <P>{{ item.product }}</P>
  <img src={{item.image}}></img>
  <P>{{ item.company }}</P>
</div> -->

<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://png.pngtree.com/png-vector/20200820/ourlarge/pngtree-sale-banner-template-background-big-sale-special-offer-end-of-season-png-image_2330736.jpg"
        class="d-block w-100"
        alt="Image 1"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.creativehatti.com/wp-content/uploads/edd/2020/12/02Flat-big-sale-offer-banner-design-large-thumbnail.jpg"
        class="d-block w-100"
        alt="Image 2"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://i.pinimg.com/564x/84/bc/18/84bc18cfffe3dd503077d9fb799096ff.jpg"
        class="d-block w-100"
        alt="Image 3"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#productCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#productCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2>Mobiles</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let m of mobile" (click)="viewMobiles()">
    <img src="{{ m.image }}" />
  </div>
</div>

<h2>Watches</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let w of watch" (click)="viewWatches()">
    <img src="{{ w.image }}" />
  </div>
</div>

<h2>Books</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let b of book">
    <img src="{{ b.image }}" />
  </div>
</div>

<h2>Fashion</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let m of men" (click)="viewMen()">
    <img src="{{ m.image }}" />
  </div>
</div>

<!-- <h2>Woman</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let w of woman" (click)="viewWoman()">
    <img src="{{ w.image }}" />
  </div>
</div> -->

<h2>Furniture</h2>
<div class="product-container">
  <div
    class="product-item"
    *ngFor="let f of furniture"
    (click)="viewFurniture()"
  >
    <img src="{{ f.image }}" />
  </div>
</div>

<h2>Kitchen</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let k of kitchen">
    <img src="{{ k.image }}" />
  </div>
</div>

<h2>Fridge</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let f of fridge">
    <img src="{{ f.image }}" />
  </div>
</div>

<h2>Tvs</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let t of tv">
    <img src="{{ t.image }}" />
  </div>
</div>

<h2>Computers</h2>
<div class="product-container">
  <div class="product-item" *ngFor="let c of computer" (click)="viewComputer()">
    <img src="{{ c.image }}" />
  </div>
</div>
<!-- <<<<<<< HEAD <<<<<<< HEAD ======= -->
<!-- <p>dashboard works!</p>
<app-category></app-category> -->
<!-- >>>>>>> a14772abf87093e77052562df6ef3dad8f9be4cc ======= >>>>>>>>> Temporary
merge branch 2 >>>>>>> 6d3ef681794a685e266fe04ebea6e0c531e1f10e -->
